@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: -apple-system, BlinkMacSystemFont, 'SF Pro Text', 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  /* Определяем безопасные зоны для телефонов с "челками" */
  --sat: env(safe-area-inset-top);
  --sab: env(safe-area-inset-bottom);
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #F8F9FA;
  color: #1C1C1E;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Скрываем скроллбар, но оставляем функционал */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
