@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: -apple-system, BlinkMacSystemFont, 'SF Pro Text', 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  /* Определяем безопасные зоны для телефонов с "челками" */
  --sat: env(safe-area-inset-top);
  --sab: env(safe-area-inset-bottom);
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Скроллим только внутри Layout */
}

body {
  background-color: #F8F9FA;
  color: #1C1C1E;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior-y: none;
}

#root {
  display: flex;
  flex-direction: column;
}

/* Скрываем скроллбар, но оставляем функционал */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

@keyframes shimmer {
  0% {
    background-position: 200% center;
  }
  100% {
    background-position: -200% center;
  }
}
.animate-shimmer {
  animation: shimmer 3s linear infinite;
}
