@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Переменные для безопасных зон Telegram */
  --tg-safe-area-top: env(safe-area-inset-top, 0px);
  --tg-safe-area-bottom: env(safe-area-inset-bottom, 0px);
}

body {
  @apply bg-gray-50 text-slate-900;
  /* Защита от "резинового" скролла на iOS */
  overscroll-behavior-y: none;
}

/* Скроллбар для Webkit (Chrome, Safari) */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-300 rounded-full;
}

/* Утилита для "стеклянного" эффекта (опционально) */
.glass {
  @apply bg-white/80 backdrop-blur-md border-b border-gray-100;
}
