@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: -apple-system, BlinkMacSystemFont, 'SF Pro Text', 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  /* ОБЯЗАТЕЛЬНО: добавляем fallback , 0px */
  --sat: env(safe-area-inset-top, 0px);
  --sab: env(safe-area-inset-bottom, 0px);
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  /* Убираем overflow-hidden отсюда, чтобы не блокировать нативный скролл, если скрипты упадут */
  background-color: #F2F3F7; /* Цвет фона iOS */
}

body {
  color: #1C1C1E;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior-y: none; /* Запрет "пружинивания" страницы */
}

/* Скрываем скроллбар */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}